<div class="row">
    <div class="col-5">
        <p class="h2 mb-3, tangerino-cad">Cadastro Tangerino</p>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
            <div class="form-group">
                <label>Usuário</label>
                <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="register.userName"
                    required />
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" id="email" name="email" class="form-control" [(ngModel)]="register.email" required />
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" id="password" name="password" class="form-control"
                    [(ngModel)]="register.password" required />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid || loading">Salvar</button> / <a
                routerLink="/login">Login</a>
        </form>
    </div>
</div>
